.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* Auto-fill intentará llenar el espacio con tantos elementos de 250px de ancho como sea posible */
  gap: 10px;
}

.item {
  background-color: #ffffff; /* Color de ejemplo, probablemente quieras quitar esto */
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  height: auto; /* Altura automática para mantener la proporción */
}


/* Elementos grandes */
.item.large {
  grid-column: span 2;
  grid-row: span 2;
}

/* Estilos específicos para la primera y segunda posición grande */
.item.first-large {
  grid-column: 1 / 3;
}

.item.second-large {
  grid-column: 2 / 4;
}

.item img {
  width: 100%;
  height: 100%; /* Altura máxima para que las imágenes no sean demasiado grandes */
  object-fit: cover;
  object-position: center; /* Centrar la imagen en su contenedor */
}
/* Reglas para pantallas más grandes, si son necesarias */

/* Ajustes responsivos */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item.large {
    grid-column: 1 / -1;
    /* Hace que los elementos grandes ocupen todas las columnas disponibles */
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .item.large {
    grid-column: 1;
  }
}