/* ExploreView.css */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Previene el desbordamiento y ayuda con el recorte para 'object-fit' */
  height: 100%;
  /* Asegúrate de que el contenedor tenga una altura definida para el centrado vertical */
}


.large {
  width: 100%;
  height: auto;
}

.medium {
  width: 85%;
  height: auto;
}

.small {
  width: 70%;
  height: auto;
}

.item.small,
.item.medium {
  padding-left: 10px;
  /* Padding base para pantallas grandes */
}

.item img {
  width: calc(100% - 10px);
  /* Ajusta el ancho para compensar el padding base */
  height: auto;
  object-fit: cover;
}

/* Media query para pantallas medianas (por ejemplo, tabletas) */
@media (max-width: 768px) {

  .item.small,
  .item.medium {
    padding-left: 8px;
    /* Padding más pequeño para pantallas medianas */
  }

  .item img {
    width: calc(100% - 8px);
    /* Ajusta el ancho para compensar el nuevo padding */
  }
}

/* Media query para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 480px) {

  .item.small,
  .item.medium {
    padding-left: 5px;
    /* Padding aún más pequeño para pantallas pequeñas */
  }

  .item img {
    width: calc(100% - 5px);
    /* Ajusta el ancho para compensar el nuevo padding */
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* Asegura un espacio uniforme entre los elementos del grid */
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  margin: 0 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

