.form-field {
  position: relative;
  margin-top: 20px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  color: #6c757d;
  padding: 8px 4px;
  border: transparent;
  pointer-events: none;
  transition: all 0.6s ease;
  background: transparent;
}

.input:focus~.label,
.label.focused {
  top: -20px;
  left: 20px;
  opacity: 0.8;
  background-color: #840101;
  border: 2px solid rgb(232, 226, 226);
  border-radius: 10px;
  font-size: 8px;
  color: #fffdfb;
  /* Color del foco */
}

.input {
  width: 100%;
  padding: 12px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.input:focus {

  border-color: #FFBF00;
}

.input-date {
  appearance: none;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #FFF8DC;
  /* Corn Yellow */
  color: #252321;
  /* Color del texto */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-date:focus {
  outline: none;
  border-color: #FFBF00;
  /* Amber Orange */
  box-shadow: 0 0 0 3px rgba(255, 191, 0, 0.5);
}

.swal2-timer-progress-bar {
  background-color: #FF0000;
  /* Cambia #FF0000 por el color que prefieras */
}




.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.notification-item.read {
  background-color: #e9e9e9;
}

.notification-item:hover {
  background-color: #dedede;
}

.notification-item:not(.read) .notification-icon {
  color: #007bff; /* Color para íconos de notificaciones no leídas */
}

.notification-item.read .notification-icon {
  color: #6c757d; /* Color para íconos de notificaciones leídas */
}

.notification-content {
  margin-left: 10px;
}

.notification-content h4 {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.notification-content p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.filter-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  margin-right: 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #f0f0f0;
}

.active-filter {
  background-color: #007bff;
  color: white;
}

/* Estilos adicionales que puedes necesitar para tu layout específico */
.recent-notifications h3,
.older-notifications h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.bg-eerieBlack {
  position: relative; /* Posición relativa para colocar los pseudoelementos */
  overflow: hidden; /* Oculta el desbordamiento */
  background: linear-gradient(to bottom, rgba(255, 251, 251, 0.973), rgba(255, 0, 0, 0.4)); /* Gradiente de fondo */
  background-attachment: fixed; /* Fija el fondo para que no se mueva con el scroll */
  animation: animateBackground 10s linear infinite alternate; /* Animación para el fondo */
}

/* Pseudoelemento para crear un efecto de onda en el fondo */
.bg-eerieBlack::before {
  content: '';
  position: absolute; /* Cambiado de 'fixed' a 'absolute' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el fondo detrás del contenido */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 0, 0, 0.2)); /* Gradiente de fondo */
  background-attachment: fixed; /* Fija el fondo para que no se mueva con el scroll */
  animation: animate 10s linear infinite alternate; /* Animación para el efecto de onda */
}
.sidebar {
  min-height: 100vh;
  background-color: #00000087; /* Color de fondo */
  border: 2px solid #020000; /* Color del borde */
  color: #0b090a; /* Color del texto */
  border-radius: 5px; /* Borde redondeado */
  padding: 10px; /* Espacio interno */
  margin-bottom: 10px; /* Margen inferior */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col.space-y-6 {
  flex-grow: 1; /* Esto permite que el contenedor crezca y ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Esto distribuirá los elementos de la barra lateral uniformemente */
}
.topbar{
  background-color: #00000087; /* Color de fondo */
  border: 2px solid #020000; /* Color del borde */

  border-radius: 5px; /* Borde redondeado */

}


.nav-link {

  transition: background-color 0.5s; /* Ajusta el relleno como prefieras */
}
.nav-link:hover {
  font-weight: bold;
  color: #faf9f9; /* Cambia el color del texto a blanco */
}

/* Ajusta el estilo de tus enlaces aquí */
.nav-link span {
  margin-left: 8px; /* Espacio entre el ícono y el texto */
}
